In [1]:
import numpy as np
import pandas as pd

In [2]:
pat_data=pd.read_excel("Train_dataset.xlsx",sheet_name='Train_dataset')

In [3]:
pat_data.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [4]:
pat_data.shape

(10714, 28)

In [5]:
pat_data.columns

Index(['people_ID', 'Region', 'Gender', 'Designation', 'Name', 'Married',
       'Children', 'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M',
       'comorbidity', 'Age', 'Coma score', 'Pulmonary score',
       'cardiological pressure', 'Diuresis', 'Platelets', 'HBB', 'd-dimer',
       'Heart rate', 'HDL cholesterol', 'Charlson Index', 'Blood Glucose',
       'Insurance', 'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [6]:
pat_data.dtypes

people_ID                   int64
Region                     object
Gender                     object
Designation                object
Name                       object
Married                    object
Children                  float64
Occupation                 object
Mode_transport             object
cases/1M                    int64
Deaths/1M                   int64
comorbidity                object
Age                         int64
Coma score                  int64
Pulmonary score            object
cardiological pressure     object
Diuresis                  float64
Platelets                 float64
HBB                       float64
d-dimer                   float64
Heart rate                float64
HDL cholesterol           float64
Charlson Index              int64
Blood Glucose               int64
Insurance                 float64
salary                      int64
FT/month                  float64
Infect_Prob               float64
dtype: object

In [7]:
pat_data.isna().sum()

people_ID                    0
Region                       0
Gender                       0
Designation                  0
Name                        20
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                 1090
salary                       0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [8]:
pat_data.describe()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
count,10714.000000,10403.000000,10714.000000,10714.000000,10714.000000,10714.000000,9998.000000,9790.000000,10698.000000,9600.000000,9600.000000,10679.000000,10714.000000,10714.000000,9.624000e+03,1.071400e+04,9991.000000,10714.000000
mean,10084.893784,1.062770,3.285888,0.523241,42.083722,9.013067,278.806261,87.795812,116.170967,275.292292,74.847396,52.632737,20.028094,5.015027,2.644919e+06,1.304713e+06,1.004604,52.280680
std,7108.663645,0.818222,2.721274,0.854303,15.323397,3.714970,97.985526,41.851103,55.178811,43.669692,14.869104,10.434293,11.828445,1.399770,1.383346e+06,6.075947e+05,0.815257,10.674667
min,1.000000,0.000000,1.000000,0.000000,16.000000,3.000000,110.000000,15.000000,20.000000,200.000000,50.000000,35.000000,0.000000,3.000000,3.000000e+05,3.000000e+05,0.000000,29.289600
25%,2679.250000,0.000000,2.000000,0.000000,29.000000,6.000000,194.000000,52.000000,68.000000,237.000000,62.000000,44.000000,10.000000,4.000000,1.400000e+06,8.000000e+05,0.000000,47.277426
50%,10003.500000,1.000000,2.000000,0.000000,42.000000,9.000000,276.000000,88.000000,117.000000,276.000000,75.000000,53.000000,20.000000,5.000000,2.600000e+06,1.300000e+06,1.000000,49.008389
75%,15141.750000,2.000000,4.000000,1.000000,55.000000,12.000000,364.000000,124.000000,165.000000,313.000000,88.000000,62.000000,30.000000,6.000000,3.800000e+06,1.800000e+06,2.000000,52.762313
max,22695.000000,2.000000,8.000000,2.000000,68.000000,15.000000,450.000000,160.000000,210.000000,350.000000,100.000000,70.000000,40.000000,7.000000,5.000000e+06,2.300000e+06,2.000000,97.632000

In [9]:
pat_data_new=pat_data.drop(['Designation','Name','Insurance','salary'],axis='columns')

In [10]:
pat_data_new.columns

Index(['people_ID', 'Region', 'Gender', 'Married', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [11]:
pat_data_new.shape

(10714, 24)

In [12]:
ind=pat_data_new.select_dtypes(include=['object']).columns 
ind

Index(['Region', 'Gender', 'Married', 'Occupation', 'Mode_transport',
       'comorbidity', 'Pulmonary score', 'cardiological pressure'],
      dtype='object')

In [13]:
ind_num=pat_data_new.select_dtypes(include=['int64','float64']).columns
ind_num

Index(['people_ID', 'Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'FT/month',
       'Infect_Prob'],
      dtype='object')

In [14]:
pat_data_new.nunique()

people_ID                 10714
Region                        5
Gender                        2
Married                       2
Children                      3
Occupation                    9
Mode_transport                3
cases/1M                      4
Deaths/1M                     3
comorbidity                   4
Age                          53
Coma score                   13
Pulmonary score               4
cardiological pressure        4
Diuresis                    341
Platelets                   146
HBB                         191
d-dimer                     151
Heart rate                   51
HDL cholesterol              36
Charlson Index               41
Blood Glucose                 5
FT/month                      3
Infect_Prob                8724
dtype: int64

In [15]:
for i in ind:
    pat_data_new=pat_data_new[pat_data_new[i].notna()]

In [16]:
pat_data_new[ind_num]

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,FT/month,Infect_Prob
0,1,1.0,2,0,68,8,441.0,154.0,93.0,233.0,82.0,58.0,27,7,2.0,49.135010
1,2,2.0,2,0,64,15,NaN,121.0,56.0,328.0,89.0,68.0,5,6,1.0,51.147880
2,3,1.0,2,0,19,13,416.0,124.0,137.0,213.0,77.0,43.0,40,6,1.0,73.224000
3,4,1.0,2,0,33,9,410.0,98.0,167.0,275.0,64.0,60.0,27,7,1.0,48.779225
4,5,2.0,2,0,23,7,390.0,21.0,153.0,331.0,71.0,64.0,32,7,1.0,87.868800
5,6,1.0,2,0,35,9,389.0,139.0,86.0,216.0,94.0,38.0,5,5,2.0,49.518345
6,7,2.0,2,0,61,3,NaN,75.0,156.0,311.0,99.0,68.0,23,5,1.0,49.670361
7,8,1.0,2,0,49,10,194.0,123.0,179.0,242.0,82.0,59.0,34,3,0.0,49.121025
8,9,2.0,2,0,44,6,310.0,NaN,156.0,NaN,NaN,37.0,21,7,0.0,48.531922
9,10,1.0,2,0,41,14,242.0,23.0,178.0,277.0,83.0,58.0,28,4,2.0,48.475097
10,11,1.0,2,0,43,9,373.0,32.0,24.0,203.0,62.0,51.0,31,4,0.0,46.970339
11,12,0.0,2,0,52,5,192.0,30.0,66.0,224.0,54.0,68.0,14,5,0.0,45.494822
13,14,2.0,2,0,52,14,120.0,17.0,48.0,333.0,99.0,51.0,31,5,2.0,48.948107
14,15,2.0,2,0,36,13,382.0,NaN,24.0,NaN,NaN,38.0,4,6,1.0,49.611328
15,16,1.0,2,0,68,11,239.0,48.0,66.0,348.0,94.0,56.0,15,3,1.0,47.888912
16,17,2.0,2,0,55,11,199.0,150.0,113.0,306.0,53.0,43.0,17,6,0.0,51.009536
17,18,0.0,2,0,53,3,182.0,123.0,173.0,349.0,74.0,63.0,29,6,1.0,47.207078
18,19,1.0,2,0,65,9,181.0,80.0,177.0,287.0,52.0,66.0,37,4,0.0,48.868666
19,20,2.0,2,0,50,6,220.0,89.0,170.0,239.0,57.0,41.0,25,4,0.0,50.180430
20,21,0.0,2,0,38,6,246.0,128.0,133.0,325.0,73.0,36.0,38,3,NaN,47.910337
22,23,2.0,2,0,18,7,415.0,133.0,194.0,215.0,88.0,50.0,33,5,0.0,77.129280
23,24,1.0,2,0,31,5,203.0,25.0,158.0,342.0,97.0,61.0,22,3,0.0,46.698926
24,25,2.0,2,0,20,6,148.0,58.0,204.0,217.0,79.0,37.0,5,4,0.0,41.005440
25,26,0.0,2,0,51,15,381.0,158.0,96.0,291.0,95.0,67.0,39,6,2.0,48.050225
26,27,2.0,2,0,53,15,251.0,139.0,176.0,277.0,61.0,59.0,32,7,1.0,51.576403
27,28,1.0,2,0,42,15,185.0,70.0,190.0,339.0,84.0,48.0,2,5,0.0,49.104399
28,29,2.0,2,0,60,8,NaN,151.0,42.0,200.0,74.0,46.0,8,7,1.0,49.424097
29,30,1.0,2,0,48,3,405.0,156.0,176.0,284.0,76.0,59.0,0,6,1.0,49.559846
30,31,0.0,2,0,35,4,240.0,150.0,191.0,239.0,79.0,57.0,29,4,NaN,47.822638
31,32,0.0,2,0,39,9,236.0,39.0,186.0,240.0,65.0,45.0,2,7,NaN,47.268597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10682,22664,1.0,8,2,59,3,250.0,56.0,31.0,254.0,63.0,69.0,31,4,0.0,51.349832
10683,22665,1.0,8,2,62,9,189.0,118.0,118.0,328.0,51.0,58.0,12,3,1.0,53.612072
10684,22666,0.0,8,2,54,5,411.0,97.0,101.0,226.0,61.0,43.0,31,3,0.0,46.681280
10685,22667,2.0,8,2,30,10,124.0,123.0,111.0,317.0,90.0,36.0,29,5,1.0,60.929442
10686,22668,0.0,8,2,40,6,302.0,43.0,29.0,303.0,53.0,68.0,27,6,NaN,44.820983
10687,22669,0.0,8,2,42,6,426.0,21.0,79.0,322.0,88.0,39.0,19,3,NaN,45.324030
10688,22670,2.0,8,2,35,13,395.0,NaN,159.0,NaN,NaN,39.0,12,5,1.0,60.131988
10689,22671,1.0,8,2,61,13,388.0,99.0,194.0,343.0,80.0,63.0,10,7,2.0,54.917978
10691,22673,1.0,8,2,65,5,418.0,18.0,38.0,226.0,79.0,49.0,13,4,2.0,51.148002
10692,22674,0.0,8,2,36,3,234.0,117.0,175.0,320.0,95.0,66.0,1,4,NaN,47.666683
10693,22675,2.0,8,2,19,4,159.0,115.0,117.0,328.0,82.0,59.0,23,5,0.0,92.750400
10694,22676,0.0,8,2,47,6,431.0,19.0,161.0,259.0,55.0,54.0,37,5,2.0,45.884754
10695,22677,0.0,8,2,58,3,248.0,115.0,43.0,258.0,93.0,50.0,13,3,1.0,45.595862
10696,22678,1.0,8,2,31,15,145.0,45.0,121.0,342.0,66.0,63.0,37,6,2.0,53.858163
10697,22679,2.0,8,2,66,4,NaN,146.0,150.0,235.0,95.0,39.0,1,5,1.0,59.869682
10698,22680,1.0,8,2,21,8,372.0,86.0,154.0,268.0,84.0,35.0,2,4,0.0,54.673920
10700,22682,1.0,8,2,36,4,379.0,50.0,134.0,343.0,78.0,54.0,24,6,0.0,52.927680
10701,22683,0.0,8,2,50,12,256.0,42.0,55.0,274.0,96.0,40.0,37,6,2.0,46.943607
10702,22684,1.0,8,2,67,8,417.0,90.0,92.0,234.0,76.0,44.0,31,7,2.0,53.944690
10703,22685,2.0,8,2,28,13,389.0,121.0,93.0,205.0,67.0,67.0,6,7,1.0,60.658171
10704,22686,2.0,8,2,28,9,339.0,146.0,72.0,307.0,60.0,58.0,35,4,0.0,59.594744
10705,22687,2.0,8,2,63,10,NaN,29.0,98.0,226.0,89.0,39.0,13,7,1.0,59.374719
10706,22688,2.0,8,2,63,5,NaN,53.0,77.0,258.0,67.0,63.0,1,4,2.0,58.798970
10707,22689,NaN,8,2,17,3,297.0,107.0,33.0,271.0,67.0,68.0,38,3,2.0,30.265920
10708,22690,1.0,8,2,35,11,397.0,78.0,150.0,337.0,69.0,44.0,31,3,2.0,53.741750
10709,22691,2.0,8,2,20,14,134.0,67.0,24.0,209.0,61.0,56.0,35,7,0.0,41.981760
10710,22692,0.0,8,2,42,4,387.0,102.0,134.0,211.0,65.0,47.0,35,7,NaN,47.148663
10711,22693,0.0,8,2,59,3,177.0,111.0,151.0,296.0,87.0,37.0,16,5,2.0,47.708533
10712,22694,1.0,8,2,49,6,352.0,140.0,110.0,253.0,56.0,70.0,28,5,1.0,53.803565
10713,22695,2.0,8,2,17,7,181.0,65.0,134.0,201.0,82.0,60.0,4,3,0.0,68.342400

In [17]:
from sklearn import preprocessing
for i in ind_num:
    if i!='people_ID' and i!='Infect_Prob':
        pat_data_new[i].fillna(pat_data_new[i].mean(),inplace=True)

In [18]:
pat_data_new.isna().sum()

people_ID                 0
Region                    0
Gender                    0
Married                   0
Children                  0
Occupation                0
Mode_transport            0
cases/1M                  0
Deaths/1M                 0
comorbidity               0
Age                       0
Coma score                0
Pulmonary score           0
cardiological pressure    0
Diuresis                  0
Platelets                 0
HBB                       0
d-dimer                   0
Heart rate                0
HDL cholesterol           0
Charlson Index            0
Blood Glucose             0
FT/month                  0
Infect_Prob               0
dtype: int64

In [19]:
pat_data_new.dtypes

people_ID                   int64
Region                     object
Gender                     object
Married                    object
Children                  float64
Occupation                 object
Mode_transport             object
cases/1M                    int64
Deaths/1M                   int64
comorbidity                object
Age                         int64
Coma score                  int64
Pulmonary score            object
cardiological pressure     object
Diuresis                  float64
Platelets                 float64
HBB                       float64
d-dimer                   float64
Heart rate                float64
HDL cholesterol           float64
Charlson Index              int64
Blood Glucose               int64
FT/month                  float64
Infect_Prob               float64
dtype: object

In [20]:
for i in ind:
    pat_data_new[i] = pat_data_new[i].astype('category').cat.codes

In [21]:
target=pat_data_new['Infect_Prob']
features=pat_data_new.drop(columns=['Infect_Prob'])

In [22]:
features.columns

Index(['people_ID', 'Region', 'Gender', 'Married', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'FT/month'],
      dtype='object')

In [23]:
print(target.shape)
print(features.shape)

(9665,)
(9665, 23)

In [24]:
from sklearn.model_selection  import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, random_state=42, test_size=.2)

In [25]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(7732, 23)
(1933, 23)
(7732,)
(1933,)

In [26]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
lr = linear_model.LinearRegression()
model = lr.fit(x_train, y_train)
pred = model.predict(x_test)

In [27]:
x_test.shape

(1933, 23)

In [28]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
train_pred=lr.predict(x_train)
train_pred=lr.predict(x_test)
print('Testing error_RootMeanSquareError', np.sqrt(mean_squared_error(y_test,train_pred)))

Testing error_RootMeanSquareError 8.291670064290063

In [29]:
pat_test=pd.read_excel("Test_dataset.xlsx",sheet_name='Test_dataset')

In [30]:
pat_test.isna().sum()

people_ID                  0
Region                     0
Gender                     0
Designation                0
Name                      32
Married                    0
Children                   0
Occupation                 0
Mode_transport             0
cases/1M                   0
Deaths/1M                  0
comorbidity                0
Age                        0
Coma score                 0
Pulmonary score            0
cardiological pressure     0
Diuresis                   0
Platelets                  0
HBB                        0
d-dimer                    0
Heart rate                 0
HDL cholesterol            0
Charlson Index             0
Blood Glucose              0
Insurance                  0
salary                     0
FT/month                   0
dtype: int64

In [31]:
for i in ind:
    pat_test[i]=pat_test[i].astype('category').cat.codes
pat_test=pat_test.drop(['Name','Designation','Insurance','salary'],axis=1)

In [32]:
pat_test.shape

(14498, 23)

In [33]:
res_id=pat_test['people_ID']
res_data=pat_test

In [34]:
res_data.shape

(14498, 23)

In [35]:
'''linear regressor'''
pat_test['probabilty of getting covid']=lr.predict(res_data)

In [36]:
result=pd.DataFrame({'people_ID':res_id, 'Infect_prob':pat_test['probabilty of getting covid']})
result.to_csv('result_p1.csv', index=False)